@font-face {
  font-family: 'modern';
  font-display: swap;
  src: url('/custom/fonts/modern.ttf') format("truetype");
}
@font-face {
  font-family: 'agave';
  font-display: swap;
  src: url('/custom/fonts/agave.ttf') format("truetype");
}
@font-face {
  font-family: 'hurmit';
  font-display: swap;
  src: url('/custom/fonts/hurmit.otf') format("opentype");
}
@font-face {
  font-family: 'hgdgy';
  font-display: swap;
  src: url('/custom/fonts/hgdgy.ttf') format("truetype");
}