@font-face{
  font-family:'modern' ;  /* 字体名自定义即可 */
  src:url('/fonts/modern.ttf'); /* 字体文件路径 */
  font-display : auto;
}

@font-face{
  font-family:'agave' ;  /* 字体名自定义即可 */
  src:url('/fonts/agave regular Nerd Font Complete Mono.ttf'); /* 字体文件路径 */
  font-display : auto;
}